/* General body styling */
body {
    background-color: #7596b9; /* Light blue background color */
    background-image: url('/static/about_image/estetos.png'); /* URL to your background pattern image */
    background-size: 5%; /* Smaller size to repeat the image many times */
    background-repeat: repeat; /* Repeat the pattern */
    font-family: 'Open Sans', sans-serif; /* Using 'Open Sans' with sans-serif fallback */
    color: #1a1717; /* Dark text color for contrast */
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}

/* Main container styling */
.about-container {
    padding: 30px;
    max-width: 800px; /* Maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
    position: relative; /* Establishes a positioning context for the watermark */
    background: rgba(86, 132, 170, 0.8); /* Semi-transparent background to separate content from watermark */
    border-radius: 10px; /* Rounded corners */
}

/* Heading styling */
.about-lead {
    font-size: 3.2em; /* Increased font size for the heading */
    font-weight: bold; /* Bold text */
    color: rgb(10, 93, 67); /* Dark green color for heading */
    margin-bottom: 10px;
}

/* Paragraph styling */
.about-text {
    font-size: 2.5em; /* Increased font size for better readability */
    font-weight: bold; /* Bold text */
    line-height: 1.8; /* Increased line height for more spacing between lines */
    margin-bottom: 20px;
    color: rgb(0, 0, 0); /* Match the color with the header */
}

/* Image styling */
.about-image {
    max-width: 50%; /* Image scales to fit the container */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 10px; /* Rounded corners */
    display: block; /* Treat the image as a block element */
    margin-left: auto; /* Center the image horizontally */
    margin-right: auto; /* Center the image horizontally */
}

/* Paragraph styling */
.about-text {
    font-size: 1.3em; /* Increased font size for better readability */
    line-height: 1.8; /* Increased line height for more spacing between lines */
    margin-bottom: 20px;
}

/* Button styling */
.about-button {
    background-color: rgb(10, 93, 67); /* Custom background color */
    border-color: rgb(10, 93, 67); /* Custom border color */
    color: #fff; /* White text color */
    font-size: 1.2em; /* Font size */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition for hover effects */
    text-transform: uppercase; /* Uppercase text */
    letter-spacing: 1px; /* Spacing between letters */
}

.about-button:hover {
    background-color: #218838; /* Darker green background color on hover */
    border-color: #1e7e34; /* Darker green border color on hover */
    color: #fff; /* White text color on hover */
}
