<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/superhero/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/about_styles.css"> <!-- Link to the new CSS file -->
    <title>About - Liver Disease Predictor</title>
</head>
<body>
    <!-- Main container for the content -->
    <div class="about-container mt-5">
        <!-- Heading for the page -->
        <p class="about-lead text-center mb-4">
            Welcome to the Liver Disease Predictor!
        </p>
        <div class="text-center mb-4">
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/11/Liver_03_anterior_view.png" alt="Liver Image" class="about-image">
        </div>
        <p class="about-text text-center mb-4">
            This tool estimates the likelihood of liver disease based on various health factors with an accuracy of 91%. 
        </p>
        <p class="about-text text-center mb-4">
            Knowing whether you have liver disease is crucial because early detection can significantly improve treatment outcomes and prevent serious complications. 
        </p>
        <p class="about-text text-center mb-4">
            Liver disease can lead to severe health issues, including cirrhosis, liver cancer, and liver failure.
        </p>
        <p class="about-text text-center mb-4">
            By using this predictor, you can gain insights into your liver health and take proactive steps to seek professional medical advice if necessary. 

        </p>
        <p class="about-text text-center mb-4">
            Please note that this tool is intended for informational purposes only and should not be used as a definitive decision-maker or substitute for professional medical advice. 
            Always consult a healthcare provider for an accurate diagnosis and treatment.        </p>
        <!-- Button to navigate to the main predictor page -->
        <p class="text-center"><a href="/index" target="_blank" class="btn btn-primary about-button">Take me to the Liver Disease Predictor</a></p>
    </div>
</body>
</html>
